<div class="d-flex justify-content-center container mt-5">

    <div [routerLink]="['item-details']" [state]="Item">

    <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2"><img [src]="mainImg" height="300">
            <div>
                <h4>{{Item.name}}</h4>
                <h6 class="mt-0 text-black-50">{{Item.description}}</h6>
            </div>
        </div>
     
        <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Price</span><span>{{Item.price | currency:'Rs. '}}</span></div>
    </div>
</div>
</div>